.signInSection {
  width: 390px;
  max-height: 844px;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: var(--lightblack);
  justify-content: space-between;
  gap: 32px;
}
.bannerSignInSectionStyles {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.signInMiddleSection {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.descpStyles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.descpOneStyles {
  color: var(--whitesmoke);
  font-family: 'horizon', sans-serif;
  font-size: 29px;
  font-weight: 500;
  line-height: normal;
}
.descpTwoStyles {
  color: var(--chinesesilver);
  font-family: 'horizon', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.signInInputStyles {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.signInMailTextStyles {
  color: var(--chinesesilver);
  font-family: 'horizon', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.gapOneStyles {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.gapTwoStyles {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.alreadyLoginStyles {
  color: var(--text-button, #c36eff);
  font-family: 'horizon', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.alreadyAccountStyles {
  color: var(--chinesesilver);
  font-family: 'horizon', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.bottomSectionStyles {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.orSectionStyles {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.borderOneStyles,
.borderTwoStyles {
  background: var(--lightgray);
  height: 1px;
  width: 100%;
}
.orTextStyles {
  color: var(--chinesesilver);
  font-family: 'horizon', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.imageSectionStyles {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}
.googleImgStyles,
.appleImgStyles {
  border-radius: 24px;
  background: var(--gray14);
  display: flex;
  padding: 16px;
  align-items: center;
}

/* --------------------------------screen styles ends at 1120px-------------------------------- */

@media screen and (max-width: 1120px) {
  .signInSection {
    width: 390px;
    min-height: 844px;
  }
}

/* --------------------------------screen styles ends at 1120px-------------------------------- */

/* --------------------------------screen styles starts at 480px-------------------------------- */
@media screen and (max-width: 480px) {
  .signInSection {
    width: 100%;
    height: 100vh;
    max-height: 100%;
  }
}
/* --------------------------------screen styles ends at 480px-------------------------------- */
